<a href="https://colab.research.google.com/github/Plusholic/Engineer_BigDataAnalysis/blob/main/BigData_practice_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 481, done.
remote: Counting objects: 100% (118/118), done.
remote: Compressing objects: 100% (74/74), done.
remote: Total 481 (delta 64), reused 49 (delta 44), pack-reused 363
Receiving objects: 100% (481/481), 8.88 MiB | 4.94 MiB/s, done.
Resolving deltas: 100% (249/249), done.

In [24]:
import pandas as pd
import numpy as np

X_train = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/penguin_X_train.csv")
X_test = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/penguin_X_test.csv")
y_train = pd.read_csv("/content/yemoonsaBigdata/datasets/Part2/penguin_y_train.csv")


print(X_train.info())
print(X_train)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            240 non-null    object
 1   island             240 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     238 non-null    float64
 4   bill_depth_mm      238 non-null    float64
 5   flipper_length_mm  238 non-null    float64
dtypes: float64(3), object(3)
memory usage: 11.4+ KB
None
       species     island     sex  bill_length_mm  bill_depth_mm  \
0       Adelie  Torgersen     NaN            42.0           20.2
1       Gentoo     Biscoe  FEMALE            43.5           15.2
2       Adelie  Torgersen    MALE            42.8           18.5
3    Chinstrap      Dream    MALE            53.5           19.9
4       Gentoo     Biscoe    MALE            50.2           14.3
..         ...        ...     ...             ...            ...
235  Chinstrap      Dream  FEMALE            46.6           17.8
236     Gentoo     Biscoe    MALE            49.8           15.9
237     Adelie  Torgersen  FEMALE            34.6           17.2
238  Chinstrap      Dream  FEMALE            45.9           17.1
239     Gentoo     Biscoe  FEMALE            41.7           14.7

     flipper_length_mm
0                190.0
1                213.0
2                195.0
3                205.0
4                218.0
..                 ...
235              193.0
236              229.0
237              189.0
238              190.0
239              210.0

[240 rows x 6 columns]

In [25]:
y_train # 몸무게를 예측하는 회귀분석

     body_mass_g
0         4250.0
1         4650.0
2         4250.0
3         4500.0
4         5700.0
..           ...
235       3800.0
236       5950.0
237       3200.0
238       3575.0
239       4700.0

[240 rows x 1 columns]

In [26]:
train = pd.concat([X_train, y_train], axis=1) # y_train을 포함해서결측치 제거를 위해 합쳐줌

In [33]:
train.dropna(inplace=True)
train.reset_index(drop=True, inplace=True) # drop=True 옵션은 기존의 인덱스를 버리고 재배열해준다.

In [34]:
train

,species,island,sex,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
0,Gentoo,Biscoe,FEMALE,43.5,15.2,213.0,4650.0
1,Adelie,Torgersen,MALE,42.8,18.5,195.0,4250.0
2,Chinstrap,Dream,MALE,53.5,19.9,205.0,4500.0
3,Gentoo,Biscoe,MALE,50.2,14.3,218.0,5700.0
4,Adelie,Dream,FEMALE,36.5,18.0,182.0,3150.0
...,...,...,...,...,...,...,...
227,Chinstrap,Dream,FEMALE,46.6,17.8,193.0,3800.0
228,Gentoo,Biscoe,MALE,49.8,15.9,229.0,5950.0
229,Adelie,Torgersen,FEMALE,34.6,17.2,189.0,3200.0
230,Chinstrap,Dream,FEMALE,45.9,17.1,190.0,3575.0
231,Gentoo,Biscoe,FEMALE,41.7,14.7,210.0,4700.0

In [39]:
# 다시 독립변수와 종속변수로 분리시킴

X_train = train.iloc[:,:-1]
y_train = train.iloc[:,-1]

In [42]:
X_train.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      232.000000     232.000000         232.000000
mean        43.990948      17.226293         200.681034
std          5.509760       1.964677          14.064231
min         32.100000      13.200000         172.000000
25%         39.200000      15.700000         190.000000
50%         44.950000      17.350000         197.000000
75%         48.775000      18.725000         212.250000
max         58.000000      21.500000         231.000000

In [81]:
# 수치형 변수 3개는 스케일링이 필요, 범주형 변수 3개에 대해서는 인코딩이 필요

X = pd.concat([X_train, X_test])

categoric_ = X.columns[:3] # 범주형 변수 컬럼명
numeric_ = X.columns[3:] # 수치형 변수 컬럼명

from sklearn.preprocessing import OneHotEncoder, MinMaxScaler

ohe = OneHotEncoder(handle_unknown = 'ignore')
scaler = MinMaxScaler()

# 범주형 변수는 One Hot Encoding
X_train_res = ohe.fit_transform(X_train[categoric_])
X_test_res = ohe.fit_transform(X_test[categoric_])

# 수치형 변수는 Min Max Scaling
X_train[numeric_] = scaler.fit_transform(X_train[numeric_])
X_test[numeric_] = scaler.fit_transform(X_test[numeric_])

In [83]:
print(X_train_res), print(X_train[numeric_])

  (0, 2)	1.0
  (0, 3)	1.0
  (0, 6)	1.0
  (1, 0)	1.0
  (1, 5)	1.0
  (1, 7)	1.0
  (2, 1)	1.0
  (2, 4)	1.0
  (2, 7)	1.0
  (3, 2)	1.0
  (3, 3)	1.0
  (3, 7)	1.0
  (4, 0)	1.0
  (4, 4)	1.0
  (4, 6)	1.0
  (5, 2)	1.0
  (5, 3)	1.0
  (5, 7)	1.0
  (6, 2)	1.0
  (6, 3)	1.0
  (6, 6)	1.0
  (7, 0)	1.0
  (7, 5)	1.0
  (7, 6)	1.0
  (8, 2)	1.0
  :	:
  (223, 6)	1.0
  (224, 2)	1.0
  (224, 3)	1.0
  (224, 7)	1.0
  (225, 0)	1.0
  (225, 4)	1.0
  (225, 7)	1.0
  (226, 1)	1.0
  (226, 4)	1.0
  (226, 7)	1.0
  (227, 1)	1.0
  (227, 4)	1.0
  (227, 6)	1.0
  (228, 2)	1.0
  (228, 3)	1.0
  (228, 7)	1.0
  (229, 0)	1.0
  (229, 5)	1.0
  (229, 6)	1.0
  (230, 1)	1.0
  (230, 4)	1.0
  (230, 6)	1.0
  (231, 2)	1.0
  (231, 3)	1.0
  (231, 6)	1.0
     bill_length_mm  bill_depth_mm  flipper_length_mm
0          0.440154       0.240964           0.694915
1          0.413127       0.638554           0.389831
2          0.826255       0.807229           0.559322
3          0.698842       0.132530           0.779661
4          0.169884       0.578313           0.169492
..              ...            ...                ...
227        0.559846       0.554217           0.355932
228        0.683398       0.325301           0.966102
229        0.096525       0.481928           0.288136
230        0.532819       0.469880           0.305085
231        0.370656       0.180723           0.644068

[232 rows x 3 columns]

(None, None)

In [84]:
X_train_ohe = pd.DataFrame(X_train_res.todense(), columns = ohe.get_feature_names())
X_test_ohe = pd.DataFrame(X_test_res.todense(), columns = ohe.get_feature_names())

print(X_train_ohe)

# 범주형 변수를 One Hot Encoding으로 수치형으로 변환해줬으니 기존의 수치형 변수와 합친다.
X_train_fin = pd.concat([X_train[numeric_], X_train_ohe], axis=1)
X_test_fin = pd.concat([X_test[numeric_], X_test_ohe], axis=1)

print(X_train_fin)

     x0_Adelie  x0_Chinstrap  x0_Gentoo  x1_Biscoe  x1_Dream  x1_Torgersen  \
0          0.0           0.0        1.0        1.0       0.0           0.0
1          1.0           0.0        0.0        0.0       0.0           1.0
2          0.0           1.0        0.0        0.0       1.0           0.0
3          0.0           0.0        1.0        1.0       0.0           0.0
4          1.0           0.0        0.0        0.0       1.0           0.0
..         ...           ...        ...        ...       ...           ...
227        0.0           1.0        0.0        0.0       1.0           0.0
228        0.0           0.0        1.0        1.0       0.0           0.0
229        1.0           0.0        0.0        0.0       0.0           1.0
230        0.0           1.0        0.0        0.0       1.0           0.0
231        0.0           0.0        1.0        1.0       0.0           0.0

     x2_FEMALE  x2_MALE
0          1.0      0.0
1          0.0      1.0
2          0.0      1.0
3          0.0      1.0
4          1.0      0.0
..         ...      ...
227        1.0      0.0
228        0.0      1.0
229        1.0      0.0
230        1.0      0.0
231        1.0      0.0

[232 rows x 8 columns]
     bill_length_mm  bill_depth_mm  flipper_length_mm  x0_Adelie  \
0          0.440154       0.240964           0.694915        0.0
1          0.413127       0.638554           0.389831        1.0
2          0.826255       0.807229           0.559322        0.0
3          0.698842       0.132530           0.779661        0.0
4          0.169884       0.578313           0.169492        1.0
..              ...            ...                ...        ...
227        0.559846       0.554217           0.355932        0.0
228        0.683398       0.325301           0.966102        0.0
229        0.096525       0.481928           0.288136        1.0
230        0.532819       0.469880           0.305085        0.0
231        0.370656       0.180723           0.644068        0.0

     x0_Chinstrap  x0_Gentoo  x1_Biscoe  x1_Dream  x1_Torgersen  x2_FEMALE  \
0             0.0        1.0        1.0       0.0           0.0        1.0
1             0.0        0.0        0.0       0.0           1.0        0.0
2             1.0        0.0        0.0       1.0           0.0        0.0
3             0.0        1.0        1.0       0.0           0.0        0.0
4             0.0        0.0        0.0       1.0           0.0        1.0
..            ...        ...        ...       ...           ...        ...
227           1.0        0.0        0.0       1.0           0.0        1.0
228           0.0        1.0        1.0       0.0           0.0        0.0
229           0.0        0.0        0.0       0.0           1.0        1.0
230           1.0        0.0        0.0       1.0           0.0        1.0
231           0.0        1.0        1.0       0.0           0.0        1.0

     x2_MALE
0        0.0
1        1.0
2        1.0
3        1.0
4        0.0
..       ...
227      0.0
228      1.0
229      0.0
230      0.0
231      0.0

[232 rows x 11 columns]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [105]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train_fin, y_train, test_size=0.3)

In [106]:
X_val

,bill_length_mm,bill_depth_mm,flipper_length_mm,x0_Adelie,x0_Chinstrap,x0_Gentoo,x1_Biscoe,x1_Dream,x1_Torgersen,x2_FEMALE,x2_MALE
76,0.231660,0.397590,0.440678,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
140,0.285714,0.506024,0.237288,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
16,0.289575,0.542169,0.237288,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5,0.544402,0.204819,0.830508,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
62,0.366795,0.578313,0.338983,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
214,0.440154,0.590361,0.508475,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
200,0.544402,0.518072,0.254237,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
42,0.664093,0.807229,0.525424,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
29,0.683398,0.493976,0.440678,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
228,0.683398,0.325301,0.966102,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0

In [107]:
from sklearn.linear_model import LinearRegression

modelLR = LinearRegression()
modelLR.fit(X_tr, y_tr)

y_val_pred = modelLR.predict(X_val)
print(y_val_pred)

[3596.79805696 3357.67331602 3520.34093501 5281.20724702 4015.73395168
 3436.30285223 3936.02025169 5652.49478298 5631.25526277 3967.34631098
 3977.5004292  3292.40848789 3566.26667776 3672.39194135 3430.24027476
 3986.78006605 4077.43941834 3567.90198227 5412.00536438 3895.54371136
 3427.82612709 4227.58609024 5455.59409047 4126.59908519 5461.04790414
 3568.28715785 3341.07478419 4753.93839305 4580.20782948 3046.29188626
 5176.01078921 4105.7920507  4747.81957331 3979.86352365 5570.98101089
 3832.60831724 5178.26257401 3261.79942813 3517.26822714 5662.47482019
 5167.8576024  4146.25356052 3441.73401196 5448.26937803 4009.73378696
 3308.97169754 4068.62704292 3424.27955658 4171.34351647 4844.87503822
 5135.49303713 4666.46115924 3468.43008938 5288.30989914 5309.88743189
 3485.85732035 3886.67045109 3520.94540926 3317.86501217 4742.4341958
 4202.78974544 4293.72791851 5638.63795132 4005.56492736 5324.3043364
 3592.18470561 3350.90095995 4189.91363149 3580.22245999 5553.47338716]

In [108]:
print(modelLR.intercept_) # 기울기 확인

coef = pd.Series(data=modelLR.coef_, index=X_train_fin.columns) # 계수 확인
print(coef.sort_values())

3153.61372691602
x0_Chinstrap        -440.281040
x0_Adelie           -253.163650
x2_FEMALE           -169.171668
x1_Torgersen         -57.531623
x1_Dream             -22.831188
x1_Biscoe             80.362811
x2_MALE              169.171668
bill_length_mm       470.445104
bill_depth_mm        635.137990
x0_Gentoo            693.444690
flipper_length_mm    961.356603
dtype: float64

In [111]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_val, y_val_pred)
rmse = mean_squared_error(y_val, y_val_pred, squared=False)
rmse_2 = np.sqrt(mse)
print('MSE : {0:.3f} , RMSE : {1:.3f}, RMSE : {2:.3f}'.format(mse, rmse, rmse_2)) # sqrt를 활용해도 rmse를 구할 수 있다.

MSE : 84921.043 , RMSE : 291.412, RMSE : 291.412

In [120]:
y_tr.name

'body_mass_g'

In [124]:
y_pred = modelLR.predict(X_test_fin)
print(y_pred)

pd.DataFrame({y_tr.name : y_pred}).to_csv()

[3969.66957948 5240.23624533 4020.86944112 3391.69107042 4623.89845469
 3944.00125198 3232.34557553 3777.5265281  3534.89623997 3438.68083578
 3346.65507205 5420.77664683 3579.73371187 3996.77102896 3633.93385401
 4034.41395286 4337.53753102 3448.66879634 3586.78239576 3231.49716241
 5261.3648427  4041.08888036 5834.2017832  4622.04427241 5303.42369434
 5438.29674251 5433.72373691 4057.58697897 3384.78203719 3942.047485
 4105.97369707 3370.8194138  3548.94868392 4550.91602895 3314.23411929
 3346.32248611 3221.03996589 3263.8936342  3816.2061465  4931.86133674
 3464.29908196 5549.77875833 4938.24753755 4616.11584259 5730.60196419
 3738.00821339 4712.49755374 3231.65062174 5321.62548958 4176.37232861
 4608.60667732 4680.08485402 4073.66329246 3728.29792116 3182.32171175
 4187.21329688 4802.40970729 4540.17277621 3738.19294416 3946.81829223
 3533.26248309 4847.22039443 3249.78464517 4871.11018485 4011.59678229
 3895.91384435 5430.57987661 3155.64775843 4720.26365975 3667.40011989
 4007.06568487 3408.72198883 4698.01209793 3093.48988964 4826.8733595
 4569.41713465 5248.48598597 3349.77306872 3382.06088313 4763.02071703
 3494.68291095 5696.37606926 3317.67880117 4781.87973085 4618.25282924
 3332.47828426 5602.8964011  4034.37888811 3724.96264309 4718.59269714
 4101.49917169 4014.94009019 4085.61015605 4164.76323554 5346.45530295
 4062.44965933 5208.43839447 3511.99476455 4756.44332167 5244.3693687
 3454.2042533 ]

',body_mass_g\n0,3969.6695794760335\n1,5240.236245333935\n2,4020.8694411231227\n3,3391.691070423154\n4,4623.898454689383\n5,3944.0012519847805\n6,3232.3455755332543\n7,3777.526528098849\n8,3534.8962399724123\n9,3438.68083578055\n10,3346.6550720541404\n11,5420.776646825301\n12,3579.7337118660207\n13,3996.7710289609345\n14,3633.9338540072185\n15,4034.41395286236\n16,4337.537531023818\n17,3448.6687963399945\n18,3586.782395755198\n19,3231.497162409243\n20,5261.3648426984255\n21,4041.0888803637313\n22,5834.201783195778\n23,4622.0442724134755\n24,5303.423694337909\n25,5438.296742514132\n26,5433.723736911871\n27,4057.586978974231\n28,3384.782037194837\n29,3942.047484996398\n30,4105.973697074673\n31,3370.8194137990236\n32,3548.9486839233537\n33,4550.916028945507\n34,3314.2341192903564\n35,3346.322486113854\n36,3221.039965891984\n37,3263.893634201533\n38,3816.2061464980743\n39,4931.861336737656\n40,3464.299081961262\n41,5549.7787583285035\n42,4938.2475375542135\n43,4616.115842588726\n44,5730.60196419454\n45,3738.008213385646\n46,4712.497553739513\n47,3231.6506217393458\n48,5321.625489578673\n49,4176.372328610418\n50,4608.606677318545\n51,4680.084854020788\n52,4073.663292457617\n53,3728.2979211581614\n54,3182.3217117535455\n55,4187.213296877638\n56,4802.409707287704\n57,4540.172776205436\n58,3738.1929441601296\n59,3946.818292229211\n60,3533.2624830877853\n61,4847.220394433776\n62,3249.784645170962\n63,4871.110184849048\n64,4011.596782294906\n65,3895.9138443491265\n66,5430.5798766102625\n67,3155.647758428285\n68,4720.263659750053\n69,3667.4001198928745\n70,4007.0656848674826\n71,3408.721988830005\n72,4698.012097931941\n73,3093.489889639285\n74,4826.8733594973755\n75,4569.417134651058\n76,5248.485985970593\n77,3349.773068721439\n78,3382.0608831335676\n79,4763.020717031586\n80,3494.6829109506243\n81,5696.376069261519\n82,3317.6788011690405\n83,4781.87973085279\n84,4618.2528292393035\n85,3332.4782842555487\n86,5602.89640109928\n87,4034.3788881108917\n88,3724.962643085735\n89,4718.592697136342\n90,4101.499171685751\n91,4014.940090185146\n92,4085.6101560481543\n93,4164.763235542992\n94,5346.455302949053\n95,4062.4496593334056\n96,5208.438394471221\n97,3511.9947645468205\n98,4756.443321671457\n99,5244.369368697323\n100,3454.2042532976257\n'